<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Control de piezas</title>
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="img/logo.png" alt="logo">
      </div>

      <ul class="navPane">
        <li class="tabOps"><button type="button" name="piezas" class="button">Piezas</button></li>
        <li class="tabOps"><button type="button" name="button" class="button">Proyectos</button></li>
      </ul>
    </nav>
    <ul>
      <li><a href="#"><h2>Introducir pieza nueva</h2></a></li>
      <li><a href="#"><h2>Ver las piezas de un proyecto</h2></a></li>
      <li><a href="#"><h2><span title= "Se necesitan derechos de administrador">Modificar pieza</span></h2></a></li>
    </ul>
  </body>
</html>
